@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  padding: 0;  
  margin: 0;
}

a {
  text-decoration: none;
  color: #E0E0E8;
}

button {
  font-family: "JetBrains Mono", monospace;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-image: url("");
  background-size: cover;
  color: #E0E0E8;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper {
  font-family: "JetBrains Mono", monospace;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 50px;
  border-bottom: 1px solid #3E434D;
}

.main-page {
  flex: 1;
  display: flex;
  padding:50px;
}

.windows {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.window {
  background-color: #27243A;
  opacity: 0.9;
  border: 0.5px #4B4F5B solid;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction:column;
}

.window-title {
}

.window .active {
  border: 0.5px #4A4F65 solid; 
}

.side-window {
  width: 270px;
}

.right-windows {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right-windows .window {
  height: 257px;
}

.left-windows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
}

.widget {
  height: 75px;
}

.widget-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.widget-time {
  font-size: 14px;
}

.widget-date {
  font-size: 14px;
}

.center-control {
  height: 100%;
  width: 40%;
  display: flex; 
  flex-direction: column;
  gap: 20px;
  justify-content:center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.terminal {
  width: 100%;
  height: 480px;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: start;
  align-items: start;
}

.terminal-line {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #E0E0E8;
}

.terminal-prefix {
  margin-right: 8px;
  white-space: nowrap;
  user-select: none;
  font-size: 14px;
}

.terminal-input {
  font-family: "JetBrains Mono", monospace;
  background-color: transparent;
  border: none;
  outline: none;
  color: #E0E0E8;
  font-size: 14px;
  flex: 1;
}

.terminal-img {
  width: 100%;
}

.background-var {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: start;
}

.img-container {
  max-width: calc(100% / 5 - 5px);
  flex: 1 0 calc(100% / 5 - 5px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.img-container span {
  font-size: 12px;
}

.search {
  width: 100%;
  height: 50px;
  padding: 15px;
  align-items: start;
}

.popup-open {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 15px;
  cursor: pointer;
  color: #B2D7F9;
  text-decoration: underline;
}

.bookmarks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  height: 400px;
} 

.bookmark-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.bookmarks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bookmark-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #4A4F65;
  box-shadow: 0 0 8px 4px #211919;
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.bookmark-img {
  width: 50px;
}

.bookmark-name {
  font-size: 15px;
}

.popup {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.active {
  opacity: 1;
  pointer-events: all;
}


.popup-body {
  opacity: 1;
  background-color: #29263D; 
  border: 1px solid #4B4F5B;
  width: 450px;
  height: 500px;
  z-index: 100;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.popup-title {
  font-size: 17px;
}

.popup-subtitle {
  opacity: 0.8;
  font-size: 14px;
}

.popup button {
  cursor: pointer;
}

.popup-cancel {
 background: transparent;
 border: 1px solid #fff;
 border-radius: 8px;
 padding: 8px 12px;
 color: #fff;
}

.popup-apply {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 8px 12px;
  color: #fff;
  background: #4A4F65;
}

@media(max-width : 700px) {
  .side-window {
    display: none;
  }
  .windows {
    justify-content: center;
  }
  .center-control {
    width: 100%;
  }
  .terminal {
    height: 300px;
  }
}
