@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  padding: 0;  
  margin: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #0D1118;
  color: #E0E0E8;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 50px;
  border-bottom: 1px solid #3E434D;
}

.main-page {
  flex: 1;
  display: flex;
  padding: 100px 50px;
}

.windows {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.window {
  background-color: #27243A;
  border: 0.5px #4B4F5B solid;
  padding: 10px;
  border-radius: 8px;
}

.side-window {
  width: 25%;
  height: calc(100% - 20px);
}

.center-control {
  height: 100%;
  width: 40%;
  display: flex;   
  flex-direction: column;
  gap: 20px;
  justify-content:center;
  align-items: center;
}

.terminal {
  width: 100%;
  height: calc(88% - 20px);
  padding: 15px;
}

.terminal-line {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #E0E0E8;
}

.terminal-prefix {
  margin-right: 8px;
  white-space: nowrap;
  user-select: none;
}

.terminal-input {
  font-family: "JetBrains Mono", monospace;
  background-color: transparent;
  border: none;
  outline: none;
  color: #E0E0E8;
  font-size: 14px;
  flex: 1;
}


.search {
  width: 100%;
  height: calc(12% - 20px);
  padding: 15px;
}
